 .content-body {
	width: 1000px;
}

.login_home{
	border:double;
	width:300px;
	height:250px;
	margin:-330px 0px 0px 650px ;
	padding:10px;
	}
	
.login {
	position: absolute;
	z-index: 30;
	width: 370px;
	margin-top: -320px;
	margin-left: 630px;
	height: 320px;
	overflow: hidden;
	border-left: 1px solid #999;
}

.login_input{
	margin-left:20px;
	font-size:15px;
	}
	
.errormsg {
	color: #B94A48;
}

.btn_blu {
	font:18px;	
	height:30px;
	color:#fff;	
	width:auto;	
	background:#29A3CC;
	padding:0px 10px;
	margin-top:5px;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.bt-back {
	background: #333 url(../img/button_aro_left.png) no-repeat left;
	padding-right: 20px;
	padding-left: 40px;
}
.bt-mid {
	height: 30px;
	padding: 6px 10px 6px 10px;
	font-size: 12px;
}
.bt-next {
	background: #333 url(../img/button_aro_right.png) no-repeat right;
	padding-right: 40px;
	padding-left: 20px;
}

.sub-flow .btn_pane{
	margin:20px;
	
}
